\{% extends "layout.jinja2" %}

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <h3>О проекте</h3>
        <h4>"Я не могу пролезть эту трассу потому что..." </h4>
        <h4>Теперь одной отговоркой стало меньше. Не получается пролезть сложную дорожку - выбирай программу, выполняй задания, лезь!</h4>
        <h4>Мы создали этот сайт, чтобы в доступной форме поделиться знаниями опытных товарищей с теми, кто хочет добиться большего в скалолазании. Больше не нужно самостоятельно составлять план тренировок. Просто подписываетесь на любой курс, выполняйте упражнения и двигайтесь к цели.</h4>
        <h4>И да, мы не научим вас ставить ноги, вязать узлы или страховать. Мы просто сделаем вас сильнее!</h4>
      </div>  
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Авторы курсов</h3>

        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object img-rounded" src="https://i.imgur.com/DwWjSbkb.jpg" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Вадим Тимонов</h4>
            Мастер спорта с 2012 года, финалист ЭКМ, обладатель кубка России и победитель всероссийских соревнований. Специализация - боулдеринг. Максимальная категория на скалах 8С, Трудность - 8с+
          </div>
        </div>
        <hr />
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object img-rounded" src="https://i.imgur.com/qGRup8Xb.jpg" alt="...">
            </a>
          </div>

          <div class="media-body">
            <h4 class="media-heading">Георгий Деркачёв</h4>
            Занимаюсь скалолазанием на протяжении 10 лет. Мои персональные достижения включают:
                -8с+ redpoint (трудность);
                -8а+ onsight (трудность);
                -8A+ (боулдеринг);
                -Чемпионат Москвы 2 место;
                -Чемпионат России 9 место;
                -Первенство России 2 место;
                -European University Games 1 место;
                -European university Championship 2 место;
                -Adidas Rockstars Russia 4 место;
                -Lu4 Cup 4 место;
                Так же я финишер:
                -Moscow Marathon;
                -IRONMAN Triathlon Mallorca;
                С 2010 года я занимаюсь постановкой трасс на соревнованиях различного ранга вплоть до этапов Кубка Европы. Тренерской работой занимаюсь более 3-х лет, и за это время мои ученики добились значительных успехов.
                В качестве тренировочных программ я предлагаю синтез собственных наработок и тренировочных программ известных спортсменов.
                Желаю вам успехов в скалолазании, и не только!
          </div>

        </div>
      </div>
    </div>  

    <div class="row">
      <div class="col-md-12">
        <h3>Команда</h3>
        
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object img-rounded" src="https://i.imgur.com/Qwn6t7Kb.jpg" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Андрей Гончар</h4>
            Занимаясь скалолазанием более десяти лет, нормально тренироваться начал только последние два года. Понял, что просто ходить на скалодром и лазить - недостаточно. Попробовав тренерскую работу, понял, что это не совсем то, чего бы мне хотелось, нашёл альтернативный вариант, как поделиться знаниями с другими людьми. В итоге и родился этот проект. Встречайте!
          </div>
        </div>
        <hr/>
                <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object img-rounded" src="https://i.imgur.com/B1koxQob.jpg" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Наталья Гончар</h4>
            Замечательный фотограф! :)
          </div>
        </div>
        <hr/>
        
      </div>
    </div>
  </div>
</div>
{% endblock content %}
