{% extends "layout.jinja2" %}

{% block content %}

  {% if what == "courses" %}
    <div class="row">
      <div class="jumbotron">
        <p>Если новая категория никак не поддаётся, скорее всего дело в том, что вы не тренируетесь, а просто лазаете. Чтобы начать лезть что-то более сложное, одного лазания мало.</p>
        <p>Мы собрали несколько программ для разного уровня, от новичков до опытных спортсменов, которые помогут добиться лучших результатов в зале и на скалах.</p>
      </div>
    </div>
      
    {% if authuser is defined and authuser.is_author %}
      <div class="row">
        <a class="btn btn-default" style="text-decoration:none;" href="{{request.route_url('new', what='article')}}" role="button">Новая статья</a>
        <a class="btn btn-default" style="text-decoration:none;" href="{{request.route_url('new', what='course')}}" role="button">Новый курс</a>
      </div>
      <br>
    {% endif %}
    
    <div class="row">
      {% for a in obj %}
        <div class="col-md-4">
          <div id="companyname" class="thumbnail" style="background-image: url({{a.headerimage.split(" ")[0]}}); background-size:100%;">
            <div class="caption">
              {% if a.is_published == 0 %}
                <img src="{{request.static_url('training:static/icons/notpublished.png')}}" alt="...">
              {% endif %}
              {% if a.is_archived == 1 %}
                <img src="{{request.static_url('training:static/icons/archived.png')}}" alt="...">
              {% endif %}
              <h4><a href="{{request.route_url('showone', what=a.objtype,id=a.id)}}">
                  {{a.header}}
                </a> 
                <small><br>{{a.grade.grade}} {{ a.children|length }} {{a.children|length|pluralize(['неделя','недели', 'недель'])}}</small></h4>
              <a class="btn btn-default" style="text-decoration:none;" href="{{request.route_url('subscradd', courseid=a.id)}}" role="button">Подписаться </a>
              {% if authuser is defined and authuser.is_author and authuser.id == a.author_id and not authuser.is_admin %}
                <a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('edit', what=a.objtype, id=a.id)}}" role="button">Изменить</a>
                <a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('delete', what=a.objtype, id=a.id)}}" role="button">Удалить</a>
              {% endif %}
              {% if authuser is defined and authuser.is_admin %}
                <a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('edit', what=a.objtype, id=a.id)}}" role="button">Изменить</a>
                {% if a.is_archived %}
                  <a class="btn btn-sm disabled" style="text-decoration:none;" href="{{request.route_url('delete', what=a.objtype, id=a.id)}}" role="button">В архиве</a>
                {% else %}
                  <a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('delete', what=a.objtype, id=a.id)}}" role="button">Удалить</a>
                {% endif %}
              {% endif %}
              <p>{{a.preview|safe}}<a href="{{request.route_url('showone', what=a.objtype, id=a.id)}}"> подробнее&nbsp;&raquo;</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
  {% elif what == "articles" %}
    {% if authuser is defined and authuser.is_author %}
      <div class="row">
        <a class="btn btn-default" style="text-decoration:none;" href="{{request.route_url('new', what='article')}}" role="button">Новая статья</a>
        <a class="btn btn-default" style="text-decoration:none;" href="{{request.route_url('new', what='course')}}" role="button">Новый курс</a>
      </div>
      <br>
    {% endif %}
    {% for a in obj %}
      <div class="row">
        <div class="col-md-10">
          <div id="captionname" class="thumbnail">
            <img src="{{a.headerimage}}">
            <div class="caption">
              {% if a.is_published == 0 %}
                <img src="{{request.static_url('training:static/icons/notpublished.png')}}" alt="...">
              {% endif %}
              {% if a.is_archived == 1 %}
                <img src="{{request.static_url('training:static/icons/archived.png')}}" alt="...">
              {% endif %}
              <h4><a href="{{request.route_url('showone', what=a.objtype,id=a.id)}}">{{a.header}}</a><small>
                  <br>{{a.lastchanged.strftime('%d.%m.%Y')}}, автор: {{a.author}}
              </small></h4>
              {% if authuser is defined and authuser.is_author and authuser.id == a.author_id and not authuser.is_admin %}
                <a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('edit', what=a.objtype, id=a.id)}}" role="button">Изменить</a>
                <a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('delete', what=a.objtype, id=a.id)}}" role="button">Удалить</a>
              {% endif %}
              {% if authuser is defined and authuser.is_admin %}
                <a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('edit', what=a.objtype, id=a.id)}}" role="button">Изменить</a>
                {% if a.is_archived %}
                  <a class="btn btn-sm disabled" style="text-decoration:none;" href="{{request.route_url('delete', what=a.objtype, id=a.id)}}" role="button">В архиве</a>
                {% else %}
                  <a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('delete', what=a.objtype, id=a.id)}}" role="button">Удалить</a>
                {% endif %}
              {% endif %}
              <p>{{a.preview|safe}}<a href="{{request.route_url('showone', what=a.objtype, id=a.id)}}"> &nbsp;дальше &raquo;</a></p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %} 

{% endblock content %}
