{% extends "layout.jinja2" %}

{% block content %}
  {% if obj.objtype == "course" %}
    
    <script src="{{request.static_url('training:static/js/rangeslider.min.js')}}" type='text/javascript'></script>
    <script type='text/javascript'>
      $(document).ready(function() {
      
      var $element = $('input[type="range"]');
      var $handle;
      
      $element.rangeslider({
      polyfill: false,
      onInit: function() {
      $handle = $('.rangeslider__handle', this.$range);
      updateHandle($handle[0], this.value);
      $("#amount-label").html('<span class="pricing"></span>' + this.value + '&#8381;');
      $("#subscrlink").attr("href", $("#subscrlink").attr("href")+"?pr="+this.value);
      }
      }).on('input', function() {
      updateHandle($handle[0], this.value);
      if (this.value<700){
      $("#amount-label").html('<span class="pricing"></span>' + this.value + '&#8381;' + ' = две чашечки кофе нашим разработчикам!');
      }
      else if (this.value >= 700 && this.value < 1000) {
      $("#amount-label").html('<span class="pricing"></span>' + this.value + '&#8381;' + ' = 10 чашечек кофе');
      }
      else if (this.value >= 1000 && this.value < 1500) {
      $("#amount-label").html('<span class="pricing"></span>' + this.value + '&#8381;'  + ' = 15 чашечек кофе');
      }
      else if (this.value >= 1500 && this.value <= 2000) {
      $("#amount-label").html('<span class="pricing"></span>' + this.value + '&#8381;' + ' = 20 порций кофе!');
      }
      else if (this.value > 2000) {
      $("#amount-label").html('<span class="pricing"></span>' + this.value + '&#8381;' + ' = Столько кофе мы не выпьем!');
      }
      
      $("#subscrlink").attr("href",  $("#subscrlink").attr("href").replace(/pr=[^&]+/, 'pr='+this.value));
      });
      
      function updateHandle(el, val) {
      el.textContent = val;
      }
      
      $('input[type="range"]').rangeslider();
      
      });
    </script>
  {% endif %}
  <div class="page-header">
    <h3 id="red">{% if obj.is_published == 0 %}<img src="{{request.static_url('training:static/icons/notpublished.png')}}" alt="...">{% endif %}{% if obj.is_archived == 1 %}<img src="{{request.static_url('training:static/icons/archived.png')}}" alt="...">{% endif %}{{obj.header}}
      <small>
        {% if obj.objtype == "course" %}
          <br>{{obj.grade.grade}}, {{ obj.children|length }} недель, 

          <span id="amount-label">
            <span class="pricing">&#8381;</span>
          </span>
          <br>
          <br>
          <input id="range-slider" type="range" min="{{minprice}}" max="{{5000}}" step="50" value="500">
          <br>
        {% else %}
          {{obj.lastchanged.strftime('%d.%m.%Y')}}
        {% endif %}

        <!-- , автор: {{obj.author}} -->
    </small></h3>
    {% if obj.objtype == 'course' %}
      <a class="btn btn-default" id="subscrlink" style="text-decoration:none;" href="{{request.route_url('subscradd', courseid=obj.id)}}" role="button">Подписаться</a>
    {% endif %}
  </div>
  
  {% if authuser %} 
    {% if(authuser.is_author and obj.author_id == authuser.id) or (authuser.is_admin) %}
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('edit', what=obj.objtype, id=obj.id)}}" role="button">[изменить описание]</a>
          {% if obj.objtype=='course' %}
            <a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('modifycourse', courseid=obj.id)}}" role="button">[добавить упражнения]</a>
            <!--<a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('overview', courseid=obj.id)}}" role="button">[обзор курса]</a>-->
          {% endif %}
          {% if authuser.is_admin %}
            {% if obj.is_archived %}
              <a class="btn btn-sm disabled" style="text-decoration:none;" href="{{request.route_url('delete', what=obj.objtype, id=obj.id)}}" role="button">[в архиве]</a>
            {% else %}
              <a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('delete', what=obj.objtype, id=obj.id)}}" role="button">[удалить]</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}
  
  {% if obj.objtype == 'course' %}
    <div class="row">
      <div class="col-md-12">
        <h4>{{obj.descr|safe}}</h4>
      </div>
    </div>
    
  {% elif obj.objtype == 'article' %}
    <div class="row">
      <div class="col-md-12">
        {{obj.body|safe}}
      </div>
    </div>
  {% endif %}

{% endblock content %}
