{% extends "layout.jinja2" %}

{% block content %}

  <script type="text/javascript">
    $(document).ready(function () {
    var wktdata = {{generatetree(request, course)|safe}};
    $('#tree').treeview({
    data: wktdata,
    enableLinks: true
    });
    $('#tree').treeview('collapseAll', { silent: true });
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
    var url = window.location.href;
    var hash = url.substring(url.indexOf("#") + 1);
    $('#' + hash).css('color', '#bd3232');
    });
  </script>

  <div class="row">
    <a href="{{request.route_url('showall', what='courses')}}"> Все программы</a>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Изменение курса <b>{{course.name}}</b></h3>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Скопировать недели <span class="caret"></span></button>
        <ul class="dropdown-menu">
          {% for c in allcourses %}
            {% if c.id != course.id %}
              <li><a href="{{ request.route_url('cloneobject',parent=course.id, id=c.id, courseid=course.id) }}">{{c.name}}. <b>{{c.children|length}} {{c.children|length|pluralize(['неделя','недели', 'недель'])}}</b></a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <a class="btn btn-default btn-sm" style="text-decoration:none;" href="{{ request.route_url('courseaction', courseid=course.id, args=('new', 'week')) }}" role="button">Добавить неделю</a> 
      
    </div>
  </div>


  <div class="row">
    <div id="tree"></div>
  </div>


  <div class="row">
    {% for week in course.children %}
      <div class="col-md-3">
        <h4 class="red" id="{{week.id}}">{{week.trelemtype}} {{loop.index}}. {{ week.trweektype|upper }}</h4>
      </div>
      <div class="col-md-6">
        <a class="btn btn-default btn-sm btn-sm" style="text-decoration:none;" href="{{ request.route_url('courseaction', courseid=course.id, args=('edit', 'week', week.id)) }}" role="button">Править</a> 
        <a class="btn btn-default btn-sm" style="text-decoration:none;" href="{{ request.route_url('courseaction', courseid=course.id, args=('delete', 'week', week.id)) }}" role="button">Удалить</a>
        <a class="btn btn-default btn-sm" style="text-decoration:none;" href="{{ request.route_url('courseaction', courseid=course.id, args=('new', 'workout', week.id)) }}" role="button">Добавить день</a>

        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Скопировать дни <span class="caret"></span></button>
          <ul class="dropdown-menu">
            {% for c in allcourses %}
              {% for cc in c.children %}
                
                <li><a href="{{ request.route_url('cloneobject', parent=week.id, id=cc.id, courseid=course.id) }}">{{c.name}} {{cc.trweektype}}. {{cc.trelemtype}} {{cc.childindex}} <b>{{cc.children|length}} {{cc.children|length|pluralize(['день','дня', 'дней'])}}</b></a></li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
       
      </div>
      <div class="col-md-12">
        
        {{week.descr}}
      </div>
      {% for wkt in week.children %}
        <div class="col-md-3 col-md-offset-1">
          <h4 id="{{wkt.id}}">{{wkt.trelemtype}} {{loop.index}}. {{ wkt.trweektype|upper }}<br><small> {{wkt.timetotal}}</small></h4>
        </div>
        <div class="col-md-4">
          <a class="btn btn-default btn-sm" style="text-decoration:none;" href="{{ request.route_url('courseaction', courseid=course.id, args=('edit', 'workout', wkt.id)) }}" role="button">Править</a> 
          <a class="btn btn-default btn-sm" style="text-decoration:none;" href="{{ request.route_url('courseaction', courseid=course.id, args=('delete', 'workout', wkt.id)) }}" role="button">Удалить</a>
          <a class="btn btn-default btn-sm" style="text-decoration:none;" href="{{ request.route_url('courseaction', courseid=course.id, args=('new', 'round', wkt.id)) }}" role="button">Добавить часть</a>
        </div>
        <div class="col-md-10 col-md-offset-1">
          {{wkt.descr}}
        </div>
        {% for rnd in wkt.children %}
          <div class="col-md-4 col-md-offset-2">
            <h5 id="{{rnd.id}}"><b>Часть {{loop.index}}. {{rnd.name}}</b> </h5>
          </div>
          <div class="col-md-6">
            <a class="btn btn-default btn-sm" style="text-decoration:none;" href="{{ request.route_url('courseaction', courseid=course.id, args=('edit', 'round', rnd.id)) }}" role="button">Править</a> 
            <a class="btn btn-default btn-sm" style="text-decoration:none;" href="{{ request.route_url('courseaction', courseid=course.id, args=('delete', 'round', rnd.id)) }}" role="button">Удалить</a>
            <a class="btn btn-default btn-sm" style="text-decoration:none;" href="{{ request.route_url('courseaction', courseid=course.id, args=('new', 'excercise', rnd.id)) }}" role="button">Добавить упражнение</a>
          </div>
          <div class="col-md-10 col-md-offset-2">
            {{rnd.descr}}
          </div>
          {% for exc in rnd.children %}
            <div class="col-md-10 col-md-offset-3">
              <div class="panel panel-default" id="wktpanel">
                <div class="panel-body paper">
                  <h4 class="red" id="{{exc.id}}">{{exc.childindex}}. {{exc.name}} <a href="{{ request.route_url('courseaction', courseid=course.id, args=('edit', 'excercise', exc.id)) }}" ><small>[править]</small></a> 
                    <a href="{{ request.route_url('courseaction', courseid=course.id, args=('delete', 'excercise', exc.id)) }}"><small>[удалить]</small></a>
                    <a href="{{ request.route_url('courseaction', courseid=course.id, args=('new', 'example', exc.id)) }}" ><small>[новый пример]</small></a> 
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">копировать примеры<span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        {% for c in allexamples %}
                          <li><a href="{{ request.route_url('cloneobject', id=c.id, parent=exc.id, courseid=course.id) }}">{{c.excercise.name}}: {{c.comment}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    </h4>
                    <p>{{ exc.descr }}</p>
                    <div class="row" style="margin: 20px 5px;">
                      {% if exc.onerepis %}
                        <div class="col-md-4">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              один повтор: {{exc.onerepis}}
                            </div>
                          </div>
                        </div>
                      {% endif %}
                      {% if exc.numreps %}
                        <div class="col-md-2">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              {{exc.numreps}} {{exc.numreps|pluralize(['повтор','повтора', 'повторов'])}}
                            </div>
                          </div>
                        </div>
                      {% endif %}
                      {% if exc.numsets %}
                        <div class="col-md-2">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              {{exc.numsets}} {{exc.numsets|pluralize(['подход', 'подхода', 'подходов'])}}
                            </div>
                          </div>
                        </div>
                      {% endif %}
                      {% if exc.preftime %}
                        <div class="col-md-3">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              время выполнения: {{exc.perftime}}
                            </div>
                          </div>
                        </div>
                      {% endif %}
                      {% if exc.griptype != "" %}
                        <div class="col-md-3">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              хват: {{exc.griptype}}
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                    <div class="row">
                      <div class="col-md-3  col-md-offset-4">
                        {% if exc.resttime or exc.finalrest %}
                          {% if not exc.finalrest %}
                            <div class="label label-custom">
                              отдых {{ exc.resttime }}
                            </div>
                          {% else %}
                            <div class="label label-custom">
                              отдых {{ exc.finalrest }}
                            </div>
                          {% endif %}
                        {% endif %}
                      </div>
                    </div>
                    {% if exc.examples %}
                      <div class="row">
                        <div class="col-md-12">
                          <a  data-toggle="collapse" href="#excmedia{{exc.id}}" aria-expanded="false" aria-controls="excmedia{{exc.id}}"><br>Примеры</a>
                          <div class="collapse" id="excmedia{{exc.id}}">
                            <div>
                              <div class="row">
                                {% for ex in exc.examples %}
                                  <div class="col-md-6">
                                    
                                    <br>
                                    {% if ex.url.endswith(".jpg") %}
                                      <img class="center-block img-responsive"  src="{{ ex.url }}"> {{ ex.comment if ex.comment != None }}
                                    {% else %}
                                      <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="{{ ex.url }}"></iframe>
                                      </div>
                                    {% endif %}
                                    <a href="{{ request.route_url('courseaction', courseid=course.id, args=('edit', 'example', ex.id)) }}" ><small>[править]</small></a>
                                    <a href="{{ request.route_url('courseaction', courseid=course.id, args=('delete', 'example', ex.id)) }}"><small>[удалить]</small></a>
                                  </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>    
                      </div>
                    {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>
  
{% endblock content %}
