{% extends "layout.jinja2" %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <img class="hidden-sm hidden-xs" id="lefthand" src="https://i.imgur.com/WrheuqI.png">
    </div>
    <div class="col-md-6">
      <div class="jumbotron"> 
        <center>
          <h2>Стань сильнее с</h2> 
          <h2><span id="companyname">makemestrong</span>!</h2>
        </center>
        <h1>Онлайн тренировки для скалолазов</h1>
        
        <h3>Наша цель - скалолазание в массы! Мы покажем, как правильно тренироваться!</h3>

        <p>Пять недель тренировок по цене одного посещения скалодрома! Теперь каждый может позволить себе тренировки от лучших спортсменов!</p>
        <p>Минимальная цена - {{minprice}}₽ за весь курс (но если вы хотите поддержать наш проект, можно и больше)</p>
        <p>
          У нас есть две программы, одна - для силы пальцев, вторая - для общей силы и выносливости. Каждая программа имеет три уровня сложности,  и подойдет всем, от новичков, до опытных скалолазов.
        </p>
        <p>
          Подписавшись на любую из программ, вы получите 3-4 дня тренировок каждую неделю, всего - 5-6 недель. Программы составлены таким образом, чтобы за минимальный срок выжать максимум из вашего организма. Легко не будет, но результат того стоит :)
        </p>
        <p>
          Авторы курсов - Вадим Тимонов (программы для силы пальцев) и Георгий Деркачёв (сила и выносливость). Подробнее об авторах - на странице <a href="{{request.route_url('about')}}">О проекте</a>.
        </p>
        <p>
          <h3>Выбирайте программу, выполняйте упражнения и покоряйте новые категории!</h3>
          <a class="btn btn-lg btn-default" style="text-decoration:none;" href="{{request.route_url('showall', what='courses')}}" role="button">Список программ &raquo;</a>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <img class="hidden-sm hidden-xs" id="righthand" src="https://i.imgur.com/DmehLwV.png">
    </div>
  </div>
{% endblock content %}
