<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104770960-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-104770960-1');
    </script>
    <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p=VK-RTRG-212070-8Dp5b';</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="На сайте makemestrong.ru вы можете подписаться на программы тренировок силы пальцев, рук и выносливости. Кампусборд, фингерборд, физподготовка для скалолазов. Курсы помогут в короткие сроки поднять результаты на скалодроме и на скалах. ">
    <meta name="author" content="annndrey@manatee.trololo.info">
    <meta name="keywords" content="как пролезть 7a, как подтягиваться на одной руке, тренировки фингерборд, тренировки кампусборд, тренировки салодром, тренировки боулдеринг">
    <meta name="robots" content="index,follow" />
    <link rel="shortcut icon" href="{{request.static_url('training:static/walnut.png')}}" type="image/x-icon">

    {% if course %}
      <title>Онлайн курсы скалолазания - {{ course.name }}</title>
    {% elif what == "courses" %}
      <title>Онлайн курсы скалолазания - программы тренировок</title>
    {% elif what == "articles" %}
      <title>Онлайн курсы скалолазания - статьи</title>
    {% elif obj and obj.name is not none %}
      <title>Онлайн курсы скалолазания - {{ obj.name }}</title>
    {% else %}
      <title>Онлайн курсы скалолазания</title>
    {% endif %}

    <link rel="stylesheet" href="{{request.static_url('training:static/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{request.static_url('training:static/css/bootstrap-theme.min.css')}}">
    <link href="{{request.static_url('training:static/bootstrap-social.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{request.static_url('training:static/css/bootstrap-treeview.css')}}">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{request.static_url('training:static/js/bootstrap.min.js')}}"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="{{request.static_url('training:static/js/bootstrap-treeview.js')}}"></script>
    <link href="{{request.static_url('training:static/theme.css')}}" rel="stylesheet">
    <link href="{{request.static_url('training:static/css/bootstrap-multiselect.css')}}" rel="stylesheet">
    <link href="{{request.static_url('training:static/css/rangeslider.css')}}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-custom">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Разделы</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img style="min-width:80px; max-width:150px;" alt="Brand" src="{{request.static_url('training:static/logo1.png')}}"></a><a class="navbar-brand" href="/"><span></span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Главная </a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Программы<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{request.route_url('showall', what='courses')}}">Все программы</a></li>
              {% for c in courses %}
                <li><a href="{{request.route_url('showone', what=c.objtype, id=c.id)}}"> {{c.header}}</a></li>
              {% endfor %}
              <li role="separator" class="divider"></li>
              <!--<li class="dropdown-header">Дополнительно:</li>
              <li><a class="disabled" href="#">Питание</a></li>
              <li><a class="disabled" href="#">Персональные тренировки</a></li>-->
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{request.route_url('sizes')}}">Подбор скальников</a></li>
          <li><a href="{{request.route_url('showall', what='articles')}}">Статьи</a></li>
          <li><a href="/about">О проекте</a></li>
          {% if authuser is defined %}
            <li><a href="/dashboard">Тренировки</a></li>
          <li><a href="/settings">[{{authuser.name}}] Настройки</a></li>
          <li><a href="/logout">  Выйти&nbsp;&nbsp;&nbsp;</a></li>
        {% else %}
          <li><a href="/login">  Войти&nbsp;&nbsp;&nbsp;</a></li>
        {% endif %}
        </ul>
      </div>
    </nav>
    {% if request.path == "/" %}
      <div class="container-fluid">
    {% else %}
      <div class="container">
    {% endif %}
      {% for msg in request.session.pop_flash() %}
        <div class="alert alert-{{msg['class']}}">
	  {{msg['text']|safe}}
        </div>
      {% endfor %}
      
      {% block content %}
        <p>No content</p>
      {% endblock content %}
      
    </div>
    <div class="container-fluid" id="beforefooter">
      <div class="col-xs-12" style="height:23px;"></div>
    </div>
    
    <div class="container-fluid" id="footer">
      <div class="copyright">
        <!--<hr style="width: 100%; color: gray; height: 1px; background-color:gray;" />-->
        <div class="row">
          <div class="col-md-12 col-md-offset-2">
            <div class="col-md-3">
              Контакты:
              <div class="row">
                эл. почта: <a href="mailto:{{email}}">{{email}}</a> 
              </div>
              <div class="row">
                телефон <a href="tel:{{phone}}">  {{phone}}</a>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <a href="https://api.whatsapp.com/send?phone={{whatsappphone}}"><img width=25px src="{{request.static_url('training:static/icons/wa.png')}}"></a>
                  <a href="https://www.facebook.com/makemestrng/" role="button"><img width=25px src="{{request.static_url('training:static/icons/fb.png')}}"></a>
                  <a href="https://vk.com/mmstrong" role="button"><img width=25px src="{{request.static_url('training:static/icons/vk.png')}}"></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">Copyright &copy; by Manatee Studio, <script>document.write(new Date().getFullYear())</script><a href="{{request.route_url('terms')}}"> Условия и пр. </a></div>
            <div class="col-md-4"><a href="https://icons8.com">Icons by Icons8</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="afterfooter">
      <div class="col-xs-12" style="height:50px;"></div>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://use.fontawesome.com/8f72f99d09.js"></script>
  </body>
</html>
