{% extends "layout.jinja2" %}

{% block content %}
<div class="container">    
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
    <div class="panel" >
      <div class="panel-heading panel-custom">
        <div class="panel-title">Вход</div>
        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#" onClick="$('#loginbox').hide(); $('#signupbox').hide(); $('#resetbox').show()">Забыли пароль?</a></div>
      </div>     

      <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form id="loginform" class="form-horizontal" role="form" method="post" action="{{ request.route_url('login') }}">
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="login" type="text" class="form-control" name="login" value="" placeholder="эл. почта">                                        
          </div>
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="пароль">
	    <input type="hidden" id="csrf" name="csrf" value="{{request.session.get_csrf_token()}}" />

          </div>
          <!--
          <div class="input-group">
            <div class="checkbox">
              <label>
                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
              </label>
            </div>
          </div>
          -->
          
          <div style="margin-top:10px" class="form-group">
            <!-- Button -->
            <div class="col-sm-12 controls">
              <button type="submit" value="login" class="btn btn-success" id="submit" name="fname">Войти  </button>
              <!--<a id="btn-login" href="#" class="btn btn-success" type="submit">Войти  </a>-->
              <!--
              <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>
              -->
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 control">
              <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                Нет логина? Не проблема!
                <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                  Регистрируйтесь тут
                </a>
                <br>
                Регистрируясь на нашем сайте, вы соглашаетесь с пользовательским соглашением <a href="{{request.route_url('terms')}}">[Ознакомиться]</a>
              </div>
            </div>
          </div>    
        </form>     
      </div>                     
    </div>  
  </div>
  <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel">
      <div class="panel-heading panel-custom">
        <div class="panel-title">Регистрация</div>
        <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Вход</a></div>
      </div>  
      <div class="panel-body" >
        <form id="signupform" class="form-horizontal" role="form" method="post" action="/login">
          <div id="signupalert" style="display:none" class="alert alert-danger">
            <p>Ошибка:</p>
            <span></span>
          </div>
          <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="login" placeholder="Email">
            </div>
          </div>
          
          <div class="form-group">
            <label for="firstname" class="col-md-3 control-label">Имя</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="firstname" placeholder="Имя">
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-3 control-label">Фамилия</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="lastname" placeholder="Фамилия">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-md-3 control-label">Пароль</label>
            <div class="col-md-9">
              <input type="password" class="form-control" name="password" placeholder="Пароль">
              <input type="hidden" id="csrf" name="csrf" value="{{request.session.get_csrf_token()}}" />
            </div>
          </div>
          
          <div class="form-group">
            <!-- Button -->                                        
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" value="signup" class="btn btn-info" id="submit" name="fname"><i class="icon-hand-right"></i> &nbsp Зарегистрироваться</button>
              <!-- <span style="margin-left:8px;">или</span> -->
            </div>
          </div>
          <!--
          <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
            
            <div class="col-md-offset-3 col-md-9">
              <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
            </div>                                           
            
          </div>
          -->
        </form>
      </div>
    </div>
  </div> 
  
    <div id="resetbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel">
      <div class="panel-heading panel-custom">
        <div class="panel-title">Сброс пароля</div>
        <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="resetlink" href="#" onclick="$('#resetbox').hide(); $('#loginbox').show()">Вход</a></div>
      </div>  
      <div class="panel-body" >
        <form id="resetform" class="form-horizontal" role="form" method="get" action="/resetpassword">
          <div id="signupalert" style="display:none" class="alert alert-danger">
            <p>Ошибка:</p>
            <span></span>
          </div>
          <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="login" placeholder="Email">
              <input type="hidden" id="csrf" name="csrf" value="{{request.session.get_csrf_token()}}" />
              <p>На указанный адрес придет письмо со ссылкой для создания нового пароля</p>
            </div>
          </div>
          <div class="form-group">
            <!-- Button -->                                        
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" value="reset" class="btn btn-info" id="reset" name="fname"><i class="icon-hand-right"></i> &nbsp Сбросить пароль</button>
              <!-- <span style="margin-left:8px;">или</span> -->
            </div>
          </div>
          <!--
          <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
            
            <div class="col-md-offset-3 col-md-9">
              <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
            </div>                                           
          </div>
          -->
        </form>
      </div>
    </div>
  </div> 

</div>

{% endblock content %}
