{% extends "layout.jinja2" %}

{% block content %}

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="{{request.static_url('training:static/js/injectText.js')}}" type='text/javascript'></script>
<script type="text/javascript">
  tinymce.init(
  {selector:"#newpost",
  plugins: "code link image",
  toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image upload",
  });
</script>

<div class="inner"> 
  <div class="row">
    <h3 id="red">
      {% if not obj is defined %}
        {% if what == "article" %}
          Новая статья
        {% else %} 
          Новый курс
        {% endif %}
      {% else %}
        Правка 
        {% if what == "article" %}
          статьи 
        {% elif what == "course" %}
          курса
        {% elif what == "user"%}
         данных пользователя  
        {% endif %}
        <b>{{ obj.name }}</b>
      {% endif %}
      </h3>
    
    {% if obj is defined %}
      <form role="form" method="post" action="{{request.route_url('edit', what=obj.objtype, id=obj.id)}}">
    {% else %}
      <form role="form" method="post" action="{{request.route_url('new', what=what)}}">
    {% endif %}
  </div>
  {% if what in ['course', 'article'] %}
    
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
	  <input type="text" class="form-control" id="headimg" name="headimg" placeholder="Заглавная картинка (URL)" value="{{obj.headerimage if obj is defined}}">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
	  <input type="text" class="form-control" id="head" name="head" placeholder="Заголовок" value="{{obj.header if obj is defined}}">
        </div>
      </div>
    </div>
    {% if authuser.is_admin or authuser.is_author %}
      <div class="row">
        <div class="col-md-12">
	  <div class="form-group">
            {% if obj is defined %}
              {% if obj.is_published %}
                <div class="checkbox"> <label> <input type="checkbox" value="" id="published" name="published" checked="True">Опубликовано </label> </div>
              {% else %}
                <div class="checkbox"> <label> <input type="checkbox" value="" id="published" name="published">Опубликовано </label> </div>
              {% endif %}
              
              {% if obj.is_archived %}
                <div class="checkbox"> <label> <input type="checkbox" value="" id="archived" name="archived" checked="True"> В архиве </label> </div> 
              {% else %}
                <div class="checkbox"> <label> <input type="checkbox" value="" id="archived" name="archived"> В архиве </label> </div> 
              {% endif %}
              {% if what == "course" %}
                {% if obj.coursetype == "long" %}
                  <div class="checkbox"> <label> <input type="checkbox" value="" id="long" name="long" checked="True"> Длинный курс </label> </div> 
                {% else %}
                  <div class="checkbox"> <label> <input type="checkbox" value="" id="long" name="long"> Длинный курс </label> </div> 
                {% endif %}
              {% endif %}
            {% else %}
              <div class="checkbox"> <label> <input type="checkbox" value="" id="published" name="published">Опубликовано </label> </div>
              <div class="checkbox"> <label> <input type="checkbox" value="" id="archived" name="archived"> В архиве </label> </div> 
            {% endif %}
	  </div>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
	  <textarea class="form-control" id="preview" name="preview" placeholder="Превью" rows=3>{{obj.preview if obj is defined else ''}}</textarea>
        </div>
      </div>
    </div>
    {% if what == 'course' %}
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
	    <textarea class="form-control" id="descr" name="descr" placeholder="Описание" rows=3>{{obj.descr if obj is defined else ''}}</textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
      	    <input type="text" class="form-control" id="customprice" name="customprice" placeholder="Цена" value="{{obj.price.price if obj is defined}}">
          </div>
        </div>
      </div>

    {% endif %}
    <div class="row">
      <div class="col-md-12">
        {% if what is defined and what == "article" %}
          <textarea class="form-control" id="newpost" name="newpost" placeholder="Текст" rows=20>{{obj.body if obj is defined}}</textarea>
        {% elif obj is defined and obj.objtype == "article" %}  
          <textarea class="form-control" id="newpost" name="newpost" placeholder="Текст" rows=20>{{obj.body}}</textarea>
        {% endif %}
      {% else %}
        <div class="form-group">
	  <input type="text" class="form-control" id="name" name="name" placeholder="имя" value="{{obj.name if obj is defined}}">
        </div>
        <div class="form-group">
	  <input type="text" class="form-control" id="login" name="login" placeholder="логин" value="{{obj.login if obj is defined}}">
        </div>
        <div class="form-group">
          {% if obj is defined %}
	    <input type="text" class="form-control" id="comments" name="comments" placeholder="заметки" value="{{obj.comments if obj.comments is not none}}">
          {% else %}
            <input type="text" class="form-control" id="comments" name="comments" placeholder="заметки" value="">
          {% endif %}
        </div>
        {% if authuser.is_admin == 1 %}
          {% if obj.is_admin %}
            <div class="checkbox"> <label> <input type="checkbox" value="" id="admin" name="admin" checked="True"> админ </label> </div> 
          {% else %}
            <div class="checkbox"> <label> <input type="checkbox" value="" id="admin" name="admin"> админ </label> </div> 
          {% endif %}
        {% endif %}
        {% if obj.is_author %}
          <div class="checkbox"> <label> <input type="checkbox" value="" id="author" name="author" checked="True"> автор </label> </div> 
        {% else %}
          <div class="checkbox"> <label> <input type="checkbox" value="" id="author" name="author"> автор </label> </div> 
        {% endif %}
        {% if obj.is_confirmed %}
          <div class="checkbox"> <label> <input type="checkbox" value="" id="confirmed" name="confirmed" checked="True"> подтвержден </label> </div> 
        {% else %}
          <div class="checkbox"> <label> <input type="checkbox" value="" id="confirmed" name="confirmed"> подтвержден </label> </div> 
        {% endif %}
      {% endif %}
        <input type="hidden" id="csrf" name="csrf" value="{{request.session.get_csrf_token()}}" />
        <button type="submit" class="btn btn-default pull-right" id="submit" name="submit" title="Сохранить" tabindex="3">Сохранить</button>
      </div>
    </div>
  </form>
{% endblock content %}
     
