{% extends "layout.jinja2" %}


{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h3 id="red">{{course.name}} <small>{{ course.children|length }} {{course.children|length|pluralize(['неделя','недели', 'недель'])}}</small></h3>
    </div>

    {% for week in course.children %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">{{week.trelemtype}} {{week.childindex}} из {{week.parent.children|length}} | {{week.trweektype}}             
            <small><a  data-toggle="collapse" href="#weekdescr{{week.id}}" aria-expanded="false" aria-controls="weekdescr{{week.id}}">Описание</a>
              <div class="collapse" id="weekdescr{{week.id}}">
                <div>
                  {{week.descr}}
                </div>
              </div>
            </small>
          </h4>
        </div>
        <div class="panel-body">
          <div class="row">
            {% for wkt in week.children %}
              <div class="col-md-4">
                <h4><img src="{{request.static_url('training:static/icons/')+wkt.weektype+".png"}}" alt="..."> <a href="{{request.route_url('workout', wktid=wkt.id)}}">{{wkt.trelemtype}} {{loop.index}}. {{ wkt.trweektype }}</a> <small>{{wkt.timetotal}}</small></h4>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
