{% extends "layout.jinja2" %}

{% block content %}
  <script type="text/javascript">
    $(document).ready(function(){
    $("#checkdiscount").click(function() {
    var val = document.getElementById('discount').value;
    $.ajax ({
    url: "{{request.route_url('checkdiscount')}}",
    data: { code : val },
    success: function(data) {
    var price = document.getElementById('price').value;
    var newprice = price-(price*data.content)/100;
    var descr = document.getElementById('descr').value;
    $("input[id=price]").val(newprice.toFixed(2));
    document.getElementById('discount').value = "";
    document.getElementById('discount').disabled = true;
    $("input[id=descr]").val(descr + " " + data.content+"%" + " скидка");
    $("#priceHeader").html(newprice+"&#8381;, скидка " + data.content + "%");
    }
    });
    });
    });
  </script>

<div class="row">
  <h3 id="red">{{ descr }}</h3>
  <h4 id="priceHeader">{{price}}&#8381;</h4>
  
  <form role="form" class="form-inline" method="post" action="{{walleturl}}">
    <div class="form-group">
      <label class="sr-only" for="discount">Код для скидки</label>
      <input type="text" name="discount"  class="form-control" id="discount" value="" placeholder="Код для скидки">
      
    </div>
    <input type="hidden" name="WMI_MERCHANT_ID" value="{{merchid}}"/>
    <input type="hidden" name="WMI_PAYMENT_AMOUNT" id="price" value="{{price}}"/>
    <input type="hidden" name="WMI_CURRENCY_ID"    value="643"/>
    <input type="hidden" name="WMI_DESCRIPTION" id="descr"   value="{{descr}}"/>
    <input type="hidden" name="WMI_SUCCESS_URL"    value="{{request.route_url('dashboard')}}"/>
    <input type="hidden" name="WMI_FAIL_URL"       value="{{request.route_url('showone', what='course', id=courseid)}}"/>
    <input type="hidden" name="uid"    value="{{userid}}"/>
    <input type="hidden" name="sid"    value="{{sid}}"/>
    <input type="hidden" name="pid"    value="{{pid}}"/>
    <input type="hidden" name="cid"    value="{{courseid}}"/>
    <a id="checkdiscount" class="btn btn-success" style="text-decoration:none;" role="button">Применить код<sup>*</sup></a>
    <button type="submit" class="btn btn-default" value="Оплатить"/>Оплатить на WalletOne</button>
  </form>
<p>
<sup>*</sup> Будьте внимательны, код можно вводить только один раз. После того, как код введен и скидка применена, повторный ввод кода невозможен.
</p>
</div>

{% endblock content %}
