{% extends "layout.jinja2" %}

{% block content %}

<script src="{{request.static_url('training:static/js/bootstrap-multiselect.js')}}" type='text/javascript'></script>

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="{{request.static_url('training:static/js/injectText.js')}}" type='text/javascript'></script>
<script type="text/javascript">
  tinymce.init(
  {selector:"#mailmessage",
  plugins: "code link image",
  toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image upload",
  });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#emails').multiselect({
  enableFiltering: true,
  includeSelectAllOption: true,
  maxHeight: 200
  });
    });
</script>

<div class="page-header">
  <h1>Настройки <small>Здесь можно настроить свои подписки, просмотреть детали аккаунта и историю платежей</small></h1>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><b>{{authuser.name}} 
        {% if authuser.is_admin == 1 %}
          [админ]
        {% endif %}
        {% if authuser.is_author == 1 %}
          [автор]
        {% endif %}

    </b></h3> 
  </div>
  <div class="panel-body">
     {{ authuser }} <a href="{{ request.route_url('edit', what='user', id=authuser.id)}}" >[изменить]</a> <a href="{{ request.route_url('delete', what='user', id=authuser.id)}}" >[удалить аккаунт]</a>
  </div>
</div>


{% if authuser.is_admin %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><b>Рассылка</b></h3> 
  </div>
  <div class="panel-body">
    <form class="form-inline" action="{{ request.route_url('sendemails') }}" method="POST">
      <input type="text" required="true" class="form-control" id="mailsubject" name="mailsubject" placeholder="Тема">
      <textarea class="form-control" id="mailmessage" name="mailmessage" placeholder="текст" rows=3></textarea>
      <select id="emails" name="emails" multiple="multiple">
        {% for u in users %}
          <option value="{{u.login}}|{{u.name}}">{{u.name}} {{u.login}}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-default pull-right">отправить</button>
    </form>
  </div>
</div>
{% endif %}



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><b>Результаты</b></h3> 
  </div>
  <div class="panel-body">
    <a id="openformlink" onClick="$('#resultsform').show(600);$('#openformlink').hide()">Внести результаты</a>
    <div id="resultsform" style="display:none;">
      <a onClick="$('#openformlink').show();$('#resultsform').hide(600)">Свернуть</a>
      <form class="form-inline" action="{{ request.route_url('saveresults') }}" method="post">
        <input type="text" required="true" class="form-control" id="maxgrade" name="maxgrade" placeholder="Макс. категория 6B / 6C / 7a+">
        <input type="text" class="form-control" id="bodyweight" name="bodyweight" placeholder="Вес тела 73.4">
        <br>
        <div class="form-group">
          <label for="addweighthalf">Полузакрытый хват</label>
          <input type="text" required="true" class="form-control" id="addweighthalf" name="addweighthalf" placeholder="Доп. вес +5 или -5">
          <input type="text" required="true" class="form-control" id="gripsizehalf" name="gripsizehalf" placeholder="Размер зацепок 2 / 1 / 0.8">
        </div>
        <br>
        <div class="form-group">
          <label for="addweightopen">Открытый хват&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="text" required="true" class="form-control" id="addweightopen" name="addweightopen" placeholder="Доп. вес +5 или -5">
          <input type="text" required="true" class="form-control" id="gripsizeopen" name="gripsizeopen" placeholder="Размер зацепок 2 / 1 / 0.8">
        </div>
        <br>
        <div class="form-group">
          <label for="addweightthree">Три пальца&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="text" required="true" class="form-control" id="addweightthree" name="addweightthree" placeholder=" Доп. вес +5 или -5">
          <input type="text" required="true" class="form-control" id="gripsizethree" name="gripsizethree" placeholder="Размер зацепок 2 / 1 / 0.8">
        </div>
        <br>
        <div class="form-group">
          <label for="pushups">Отжимания</label>
          <input type="text" required="true" class="form-control" id="pushups" name="pushups" placeholder="20">
          <label for="pullups">Подтягивания</label>
          <input type="text" required="true" class="form-control" id="pullups" name="pullups" placeholder="15">
        </div>
        <br>
        <p>
          <button type="submit" class="btn btn-default pull-right">Сохранить</button>
        </p>
      </form>
    </div>
    <div class="row">
      <div class="col-md-12">
       {{ plotlyplot|safe }}
      </div>
    </div>
  </div>
</div>


{% if authuser.is_author or authuser.is_admin %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Программы <a href="{{ request.route_url('new', what='course')}}">[добавить]</a></h3> 
  </div>
  <div class="panel-body">
    {% for course in courses %}
         <p> {{ course.name }} [{{course.children | length}} {{course.children|length|pluralize(['неделя','недели', 'недель'])}}] <a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('edit', what='course', id=course.id)}}" role="button">Изменить описание</a>
           <a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('modifycourse', courseid=course.id)}}" role="button">правка элементов</a>
          <a class="btn btn-sm " style="text-decoration:none;" href="{{request.route_url('delete', what='course', id=course.id)}}" role="button">Удалить</a></p>
    {% endfor %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Пользователи</h3>
  </div>
  <div class="panel-body">
     <div class="table-responsive">
      <table class="table">
        <tr>
          <th>#</th>
          <th>имя</th>
          <th>логин</th>
          <th>комменты</th>
          <th>автор</th>
          <th>админ</th>
          <th>подтвержд</th>
          <th>флаги</th>
          <th>изменён</th>
          <th></th>
          <th></th>
        </tr>
        {% for user in users %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{ user.name }}</td>
            <td>{{user.login}}</td>
            <td>{{user.comments}}</td>
            <td>{{user.is_author}}</td>
            <td>{{user.is_admin}}</td>
            <td>{{user.is_confirmed}}</td>
            <td>{{user.flags}}</td>
            <td>{{user.lastchanged}}</td>
            <td><a href="{{ request.route_url('edit', what='user', id=user.id)}}" >Изменить</a></td>
            <td><a href="{{ request.route_url('delete', what='user', id=user.id)}}" >Удалить</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Подписки</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>#</th>
          <th>юзер</th>
          <th>курс</th>
          <th>начало</th>
          <th>конец</th>
          <th>продолж</th>
          <th></th>
          <th></th>
        </tr>
        {% for sub in subscr %}
          {% if not sub.is_paid %}
            <tr class="danger">
          {% else %}
            <tr>
          {% endif %}
          <td>{{loop.index}}</td>
          <td>{{sub.uname}}</td>
          <td>{{sub}}</td>
          <td>{{sub.start.strftime('%d/%m/%Y')}}</td>
          <td>{{sub.end.strftime('%d/%m/%Y')}}</td>
          <td>{{sub.duration}} {{sub.duration|pluralize(['неделя','недели', 'недель'])}}</td>
          <td>
            {% if sub.is_finished %}
              <a style="text-decoration:none;" href="{{request.route_url('payment', action="renew", courseid=sub.course.id, userid=authuser.id, _query={"sid":sub.id})}}" >[продлить]</a>
            {% else %}
              {% if not sub.is_cancelled %}
                {% if not sub.is_paused %}
                  <a style="text-decoration:none;" href="{{request.route_url('subscrpause', action='pause', subscrid=sub.id)}}" >[приостановить]</a>
                {% else %}
                  <a style="text-decoration:none;" href="{{request.route_url('subscrpause', action='unpause', subscrid=sub.id)}}" >[возобновить]</a>
                {% endif %}
                {% if not sub.is_paid %}
                  <a style="text-decoration:none;" href="{{request.route_url('subscradd', courseid=sub.course.id, _query={"pr":sub.customprice})}}" >[оплатить]</a>
                {% endif %}
              {% else %}
                <a style="text-decoration:none;"></a>
              {% endif %}
            {% endif %}
          </td>
          <td>
            {% if sub.is_cancelled %}
              <a style="text-decoration:none;" href="{{request.route_url('subscrpause', action='restore', subscrid=sub.id)}}" >подписаться снова</a>
            {% else %}
              <a style="text-decoration:none;" href="{{request.route_url('subscrpause', action='cancel', subscrid=sub.id)}}" >отменить подписку</a>
            {% endif %}
          </td>
         </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Счета и платежи</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>#</th>
          <th>статус</th>
          <th>юзер</th>
          <th>дата</th>
          <th>описание</th>
          <th></th>
        </tr>
        {% for p in payments %}
          {% if not p.status == "confirmed" %}
            <tr class="danger">
          {% else %}
            <tr>
          {% endif %}
            <td>{{loop.index}}</td>
            <td>{{p.trstatus()}}</td>
            <td>{{ p.subscription.uname }}</td>
            <td>{{p.date}}</td>
            <td>{{p.descr}}</td>
            <td>
              {% if p.status == "new" %}
                <a style="text-decoration:none;" href="{{request.route_url('payment', action='paycheck', userid=authuser.id, courseid=p.subscription.course_id, _query={'sid':p.subscription.id, 'pid':p.id, "pr":p.subscription.customprice})}}" >оплатить</a>
                <a style="text-decoration:none;" href="{{request.route_url('delete', what='payment', id=p.id)}}" >отменить</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}
