{% extends "layout.jinja2" %}
{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <h1>Как правильно выбрать размер скальных туфель? <br><small>или Подбор размера скальников для ленивых.</small></h1>
        <p>
          В сети можно найти много руководств, как правильно выбирать скальники, какие типы скальников существуют и пр. 
        </p>
        <p>
          Мы проделали небольшую работу, создав интерактивную таблицу подходящих размеров скальников разных моделей для разных целей.
          В основу было положено исследование c <a href="https://rockrun.com/blogs/the-flash-rock-run-blog/rock-shoe-sizing-guide">https://rockrun.com</a> и немного из <a href="https://en.wikipedia.org/wiki/Shoe_size">Википедии</a>.
          Мы пересчитали данные rockrun в европейские и британские размеры, теперь достаточно измерить длину стопы и вы получите нужные цифры. 
        </p>
        <p>
          Мы не претендуем на точность полученных результатов, т.к. не учитывалась ширина скальника и объем пятки, но в качестве ориентира вполне сгодится, особенно если нет возможности померить. 
        </p>
        <p>
        Выбор размера связан со сложностью трасс, на которых они будут использованы. Вот четыре условные категории сложности: 
        <ul>
          <li>1) Сложные боулдеринговые трассы, сложные спортивные трассы.</li>
          <li>2) Средние боулдеринговые и спортивные трассы.</li>
          <li>3) Простые трассы.</li>
          <li>4) Начальный уорвень.</li>
        </ul>
        Введите размер вашей ноги в сантиметрах и узнаете, какой размер скальников вам подойдёт.
        </p>
        <p>
        <form class="form-inline" action="{{request.route_url("sizes")}}" method="post">
          <div class="form-group">
            <label for="footsize">Длина стопы, см.</label>
            {% if yoursize %}
              <input type="text" class="form-control" id="footsize" name="footsize" placeholder="29" value="{{yoursize['CM']}}">
            {% else %}
              <input type="text" class="form-control" id="footsize" name="footsize" placeholder="27.4">
            {% endif %}
          </div>
          <!--<div class="form-group">
            <label class="control-label">Уровень сложности</label>
            <select class="form-control">
              <option>показать все</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>-->
          <button type="submit" class="btn btn-default">Подобрать размеры</button> <img src="{{request.static_url('training:static/finger.png')}}" height=30px>
        </form>
        </p>
      </div>  
    </div>
    {% if yoursize %}
    <div class="row">
      <div class="col-md-12">
        <h3>Ваш размер - {{ yoursize["EU"] }}EU, {{yoursize["UK"]}}UK <h3>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
        {{ csvdata | safe }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          Если хотите, можете добавить свои скальники в нашу таблицу. Больше данных - точнее цифры.
        </p>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScvI8ZXEWtV__vtWKrKauGe5j6Borqkl7fg9fXzqV169ekvtw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>
      </div>
    </div>
  </div>
{% endblock content %}
