{% extends "layout.jinja2" %}

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <h3>Условия и прочее</h3>
        
        <p>Мы обещаем соблюдать конфиденциальность данных клиентов и посетителей сайта (далее — пользователей), при этом пользователь соглашается с тем, что, когда он заходит на сайт, сервер автоматически регистрирует его IP-адрес. Сервер собираетэти сведения для статистики и не более того.
        </p>
        <p>
          При регистрации и подписке пользователи указывают контактную информацию: имя и адрес электронной почты. Эта информация используется исключительно для внутренних целей. Банковские данные, такие как номер счета или карты, используемые для оплаты, мы не храним. Электронные адреса пользователей хранятся для решения возможных дополнительных вопросов. Прохождение процедуры регистрации и авторизации подразумевает согласие на использование персональных данных в целях, описанных выше. Пользователь также выражает согласие на получение сообщений рекламно-информационного характера о новых программах и предложениях нашего сайта. Пользователь вправе отказаться от получения этих сообщений, написав письмо об этом на адрес hi@makemestrong.ru.
        </p>

        <h3>Безопасность</h3>
        <p>
          Мы применяем технические средства для защиты информации от утери, изменения и неправомерного использования и обращаемся к личным данным пользователей исключительно по мере необходимости.
        </p>
        <p>
          Мы не занимаемся продажей вашей личной информации третьим лицам.
        </p>
        <p>
          Передача информации третьим сторонам возможна в ограниченном числе случаев: по повестке, распоряжению суда или для содействия в судебных разбирательствах.
        </p>
        <p>
          Данный сайт содержит ссылки на сторонние сайты, на которые не распространяется наша политика конфиденциальности.
        </p>
        <p>
          Если личная информация пользователя, которая хранится в нашей базе данных, не соответствует действительности, следует сообщить об этом по адресу hi@makemestrong.ru. 
        </p>
        <h3>Использование информации</h3>
        <p>
          Все содержимое сайта, включая тексты, фотографии, иллюстрации, графические элементы, логотипы, названия торговых марок, товаров и услуг,охраняется законами об авторском праве, товарных знаках и интеллектуальной собственности. Информация на сайте предназначена исключительно для личного некоммерческого использования.
        </p>
        <p>
          Для получения любой другой информации о работе нашего сайта следует обращаться по адресу hi@makemestrong.ru.
        </p>
      </div>  
    </div>
  </div>
{% endblock content %}
