{% extends "layout.jinja2" %}

{% block content %}

<div class="page-header">
  <h2>Неделя {{workout.parent.childindex}} / день {{workout.childindex}} <small>{{workout.trweektype}}</small></h2>
  <p><b>Время занятия: {{workout.timetotal}}</b></p>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <img src="{{request.static_url('training:static/icons/')+workout.weektype+".png"}}" alt="...">
      {{workout.descr}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-xs-12">
    {% for rnd in workout.children %}
      <div class="panel panel-default" id="rndpanel">
        <div class="panel-body">
          <center><h3 id="roundheader">Часть {{ rnd.childindex }}: {{rnd.name | lower}}</h3></center>
          {{ rnd.descr }}
          {% for exc in rnd.children %}
            <div class="panel panel-default" id="wktpanel">
              <div class="panel-body paper">
                <h4 class="red" id="{{exc.id}}">{{exc.childindex}}. {{exc.name}}</h4>
                <p>{{ exc.descr }}</p>
                <div class="row" style="margin: 20px 5px;">
                  {% if exc.onerepis %}
                    <div class="col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          один повтор: {{exc.onerepis}}
                        </div>
                      </div>
                    </div>
                  {% endif %}
                  {% if exc.numreps %}
                    <div class="col-md-2">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          {{exc.numreps}} {{exc.numreps|pluralize(['повтор','повтора', 'повторов'])}}
                        </div>
                      </div>
                    </div>
                  {% endif %}
                  {% if exc.numsets %}
                    <div class="col-md-2">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          {{exc.numsets}} {{exc.numsets|pluralize(['подход', 'подхода', 'подходов'])}}
                        </div>
                      </div>
                    </div>
                  {% endif %}
                  {% if exc.preftime %}
                    <div class="col-md-3">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          время выполнения: {{exc.perftime}}
                        </div>
                      </div>
                    </div>
                  {% endif %}
                  {% if exc.griptype != "" %}
                    <div class="col-md-3">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          хват: {{exc.griptype}}
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </div>
                <div class="row">
                  <div class="col-md-3  col-md-offset-4">
                    {% if exc.resttime or exc.finalrest %}
                      {% if not exc.finalrest %}
                        <div class="label label-custom">
                          отдых {{ exc.resttime }}
                        </div>
                      {% else %}
                        <div class="label label-custom">
                          отдых {{ exc.finalrest }}
                        </div>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
                {% if exc.examples %}
                  <div class="row">
                    <div class="col-md-12">
                      <a  data-toggle="collapse" href="#excmedia{{exc.id}}" aria-expanded="false" aria-controls="excmedia{{exc.id}}"><br>Примеры</a> 
                      <div class="collapse" id="excmedia{{exc.id}}">
                        <div>
                          <div class="row">
                            {% for ex in exc.examples %}
                              <div class="col-md-6">
                                <br>
                                {% if ex.url.endswith(".jpg") %}
                                  <img class="center-block img-responsive"  src="{{ ex.url }}"> {{ ex.comment if ex.comment != None }}
                                {% else %}
                                  <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="{{ ex.url }}"></iframe>
                                  </div>
                                {% endif %}
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>    
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    
    <nav aria-label="...">
      <ul class="pager">
        <li><a id="pgr" href="{{request.route_url('workout', wktid=workout.previd)}}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a></li>
        <li><a  id="pgr" href="{{request.route_url('dashboard')}}">домой</a></li>
        <li><a  id="pgr" href="{{request.route_url('workout', wktid=workout.nextid)}}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock content %}
