@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(//fonts.googleapis.com/css?family=Lobster:400);
@import url(https://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,600,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Scada:100,300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Hammersmith+One);


#easy {
    background-color: #afafe6;
    background-image:url('./grade.png');
}

#medium {
    background-color: #ffd3d1;
    background-image:url('./grade.png');
}

#hard {
    background-color: #7d7d7d;
    background-image:url('./grade.png');
}



#red {
    color:#bd3232;
}

.red {
    color:#bd3232;
}


#companyname {
    font-family: 'Hammersmith One', sans-serif; 
    color:#bd3232;

}

#captionname {
    font-family: 'Roboto', sans-serif; 
    color:#bd3232;

}

#wktpanel {
    color:inherit;
    margin-top:20px;
}

#rndpanel {
    color:#364f6b;
}

a {
    color:#bd3232;
    }

body {
    background-color:#f5f5f5;
    color:#364f6b;
    font-family: "Scada", Helvetica, sans-serif;
    line-height: 1.2;
    text-align:justify;
}

h2 {
     font-family: Helvetica, sans-serif;
     font-weight: 300;
}

.navbar-brand {
    text-decoration: none;
}
.nav a {
    padding-top: 30px;
    text-decoration: none;
}
.navbar-brand, .navbar-nav > li > a {
    color:#f5f5f5;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { 
    color:#f5f5f5;
    background-color:#364f6b;
}
.icon-bar {
    background-color:#f5f5f5;
}
navbar-brand, .navbar-nav > li > a:hover{
    color:#364f6b;
    }

.font-normal {
  font-weight: 400;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

a.disabled {
  color: gray;
  pointer-events: none;
}
.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.btn-social-icon {
    margin-right: 5px;
}

#roundheader {
    color:#bd3232;
    }

.navbar-custom, .panel-custom {
    background-color:#364f6b;
    }

#footer {
    background:#364f6b;
    color:#f5f5f5;
    }
#footer a {
    color:#bd3232;
    }
#afterfooter {
    background:#364f6b;
    }
#beforefooter {
    background:#364f6b;
    }

.paper {
    background-color: #f5f5f5;
    background-image: url('./lined-paper-2.png');
}

#pgr {
    background-color: #364f6b;
    font-size:16pt;
    color:#f5f5f5;
}

.label-custom {
    background:#8ec888;
    }

.caption img {
    float: left;
}
.caption h3 {
    position: relative;
    top: -22px;
    left: 10px;
}

.btn-sm {
    margin-top:10px;
}

#lefthand {
    border-top-left-radius: 5px;
    max-height:650px;
    min-height:400px;
}

#righthand {
    border-top-right-radius: 5px;
    max-height:650px;
    min-height:400px;
}



.img-responsive {
    border-radius:10px;
    display:block;
    max-width:70%;
    max-height: auto;
}

.jumbotron h1 {
    font-size: 30px;
}

.jumbotron h2 {
    font-size: 55px;
}

.jumbotron p {
    font-size: 17px;
}


@media screen and (max-width: 991px) {
     /* start of large tablet styles */
     .img-responsive {
       max-width: 40%;
     }
     .jumbotron h1 {
         font-size: 27px;
     }
     
     .jumbotron h2 {
         font-size: 50px;
     }
     .jumbotron h3 {
         font-size: 24px;
     }

     .jumbotron p {
         font-size: 19px;
     }
}

@media screen and (max-width: 767px) {
     /* start of medium tablet styles */
     /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
     .img-responsive {
       max-width: 50%;
     }
     .jumbotron h1 {
         font-size: 35px;
     }
     
     .jumbotron h2 {
         font-size: 25px;
     }
     .jumbotron h3 {
         font-size: 22px;
     }

     .jumbotron p {
         font-size: 15px;
     }
}

@media screen and (max-width: 479px) {
     /* start of phone styles */
     /* It's possible to hide the image if the screen becomes too small */
     .img-responsive {
       max-width:100%;
     }
     .jumbotron h1 {
         font-size: 20px;
     }
     
     .jumbotron h2 {
         font-size: 38px;
     }
     .jumbotron h3 {
         font-size: 15px;
     }
     .jumbotron p {
         font-size: 12px;
     }
}